.progress-bar-purple {
    background-color: purple !important;
}

.progress-bar-chocolate {
    background-color: chocolate !important;
}

.progress-bar-fuchsia {
    background-color: fuchsia !important;
}

.progress-bar-blue {
    background-color: blue !important;
}

.progress-bar-mediumslateblue {
    background-color: mediumslateblue !important;
}
.progress-bar-indigo {
    background-color: indigo !important;
}